# Virtual Environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Sensitive Info (API Keys, etc.)
.env

# Cursor/VS Code specific
.cursor/
.vscode/

outputs/

tests/

settings.json
ProjectStructure.md
