streamlit
pandas
numpy
scikit-learn
matplotlib
seaborn
reportlab
pyyaml
lxml
openpyxl
groq
python-dotenv
duckdb
polars
fastapi
python-multipart
uvicorn
gunicorn
pyarrow
chromadb
sentence-transformers
google-genai